
{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %} Création d'une matière {% endblock %}

{% block content %}
    <h2>Créer une matière</h2>
       {% if messages %}
            <div class="messages m-3">
                {% for message in messages %}
                <div class="alert alert-success">
                    <div {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <br />
    <button class="btn btn-success" type="submit">Sauvegarder</button>
    </form>
{% endblock content %}